[viewBag]

[staticMenu mainMenu]
code = "main-menu"

==
<header class="navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{{ 'home'|page }}">
                <img src="http://octobercms.com/themes/website/assets/images/october-color-logo.svg">
			</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% partial "mainMenu::items" items=mainMenu.menuItems %}
			</ul>
		</div>
	</div>
</header>
